header.header {
    background-color: $ducklingyellow;
}

.nav-wrapper {
    background-color: $black;
}

.header {
    a.header-image-link {
        display: block;
        margin: 1em 0;
    }
}

.nav {
    li.menu-item {
	a {
	    &:hover, &:focus {
		text-decoration: none;
                background-color: lighten($black, 5%);
                color: #fff;
	    }
	}
    }

    li.current-menu-item,
    li.current_page_item,
    li.current_page_ancestor {
	a {
	    background-color: lighten($black, 10%);
        }
    }
}

img.size-medium {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.wp-caption img.size-medium {
    padding: 0;
    border: 0;
    border-radius: 0;
}

#container {
    #burger {
        background-color: $burger-color;
        margin-bottom: 10px;
    }

    .menu-mobile-container {
        background-color: $burger-color;

        a.closer {
            background-color: $burger-accent;

            &:hover {
                background-color: darken($burger-accent, 5%);
            }
        }

        li {
            border-bottom-color: $burger-accent;

            a {
                &:hover {
                    background-color: $burger-accent;
                }
            }

            ul {
                li {
                    border-top-color: $burger-accent;
                }
            }
        }
    }
}

.callout {
    background-color: #fffd66;
    border-left: 3px solid #323944;
    padding: 10px 0 10px 10px;
    font-size: 130%;
}
